body {
    background: #fff;
    color: #444;

    font-family: 'Lato', sans-serif;
    font-size: 11pt;
    font-weight: 300;

    margin: 0;
}

.night body {
    background: #111;
    color: #999;
}

.landing {
    font-size: 18px;
    line-height: 28px;

    margin: 15vh 15vw;
}

.landing a {
    border-bottom: solid 1px #ccc;

    color: inherit;

    text-decoration: none;
}

.landing img {
    margin: 2em 0 0 -4vw;

    width: 75vw;
}

h1.logo {
    color: #a3a3a3;

    font-size: 48px;
    font-weight: 300;
    font-style: italic;

    margin-bottom: 0.75em;
}

.logo_name {
    color: #db4c3f;
    font-style: normal;
}

p.logo {
    width: 45vw;
}

.login-box {}

.login-box__button {
    background: #db4c3f;
    border-bottom: none !important;
    color: #fafafa !important;

    border-radius: 5px;

    display: inline-block;

    font-weight: 400;
    text-decoration: none;

    margin: 1em auto;
    padding: 0.65em 1.25em 0.75em;

    box-shadow: 0 0.5em 2em 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.25s ease;
}

.login-box__button:hover {
    box-shadow: 0 0.5em 2em 0 rgba(219, 76, 63, 0.75);
    transition: box-shadow 0.25s ease;
}

.login-box__note {
    color: #737273;

    font-size: 0.8em;

    margin-left: 1.5em;
}

.feature-box {
    margin-top: 6em;
}

h2.feature {
    color: #737273;

    font-size: 36px;
    font-weight: 300;

    margin-bottom: 0.75em;
}

p.feature {
    margin: 0.5em 0;

    width: 45vw;
}

.footer-box {
    margin-top: 3em;
}

p.footer {
    color: #737273;

    font-size: 0.8em;

    margin: 0;
}

.days {
    background: #fafafa;

    display: flex;
    flex-flow: row wrap;
}

.night .days {
    background-color: #1a1a1a;
}

.days__day {
    box-sizing: border-box;

    border: solid 1px #eee;
    border-top: 0;
    border-right: 0;

    padding: 5vh 2.5vw;

    height: 50vh;
    width: 25vw;

    overflow-y: scroll;
}

.night .days__day {
    border-color: #111;
}

.days__day_today {
    background: #fff;
}

.night .days__day_today {
    background-color: #222;
}

.days__day_summary {}

.days__day__title {
    color: #5b5b5b;

    font-size: 2em;

    text-align: center;
}

.night .days__day__title {
    color: #a3a3a3;
}

.days__day_weekend > .days__day__title {
    color: #db4c3f;
}

.days__day_summary > .days__day__title {
    color: #2b88d9;
}

.days__day__date {
    opacity: 0.5;

    text-align: center;

    margin-top: 0.5em;
}

.days__day__tasks-placeholder {
    opacity: 0.5;

    text-align: center;

    margin-top: 15vh;
}

.days__day__week-summary {
    font-size: 2em;

    text-align: center;

    margin-top: 10vh;
}

.days__day__week-summary__subtasks {
    text-align: center;

    margin-top: 0.5em;
}

.days__day__tasks {
    margin-top: 5vh;
}

.days__day__tasks__task {}

.days__day__tasks__task__title {
    display: flex;

    margin: 0.25em auto;
    margin-left: -1em;
}

.days__day__tasks__task__title__bullet {
    display: inline-block;

    color: #65b01b;

    min-width: 1em;
    max-width: 1em;
}

.days__day__tasks__task__title__text {
    overflow: hidden;
    white-space: nowrap;
}

.days__day__tasks__task_not-completed .days__day__tasks__task__title__bullet {
    color: #ccc;
}

.days__day__tasks__task__list {
    font-weight: 400;

    margin: 1em auto 0.5em;
}

.days__day__tasks__task__subtasks {
    font-size: 0.9em;

    padding-left: 0.25em;
    margin-bottom: 0.5em;
}

.days__day__tasks__task__subtasks .days__day__tasks__task__title__bullet {
    color: #65b01b;
}

.days__day__tasks__task__subtasks .days__day__tasks__task__title {
    margin: 0.125em auto;
}